<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>
  KING
</h1>
<i class="fa fa-camera-retro">title</i><br/>

<i class="far fa-angry" style="color:red">youss</i>

<div class="alert alert-info">
  King est de retour   <i class="fa fa-address-book" aria-hidden="true"> Yes</i>
</div> 

 
<i class="fa-solid fa-user"></i>

